services:
  fhir-gateway:
    image: ghcr.io/miracum/fhir-gateway:v5.0.0
    restart: on-failure
    cap_drop:
      - ALL
    ipc: none
    security_opt:
      - "no-new-privileges:true"
    read_only: true
    tmpfs:
      - /tmp
    privileged: false
    environment:
      SPRING_DATASOURCE_URL: ${SPRING_DATASOURCE_URL:-jdbc:postgresql://fhir-gateway-db:5432/fhir_gateway}
      SPRING_DATASOURCE_USERNAME: ${SPRING_DATASOURCE_USERNAME:-postgres}
      # kics-scan ignore-line
      SPRING_DATASOURCE_PASSWORD: ${SPRING_DATASOURCE_PASSWORD:-postgres}
      SERVICES_PSEUDONYMIZER_ENABLED: ${SERVICES_PSEUDONYMIZER_ENABLED:-true}
      SERVICES_PSEUDONYMIZER_URL: ${SERVICES_PSEUDONYMIZER_URL:-http://fhir-pseudonymizer:8080/fhir}
      SERVICES_LOINC_CONVERSIONS_URL: ${SERVICES_LOINC_CONVERSIONS_URL:-http://loinc-converter:8080/api/v1}
      SERVICES_LOINC_CONVERSIONS_ENABLED: ${SERVICES_LOINC_CONVERSIONS_ENABLED:-true}
      SERVICES_PSQL_ENABLED: ${SERVICES_PSQL_ENABLED:-true}
      SERVICES_KAFKA_ENABLED: ${SERVICES_KAFKA_ENABLED:-false}
    ports:
      - "127.0.0.1:8080:8080"
    depends_on:
      wait-for-db:
        condition: service_completed_successfully
      loinc-converter:
        condition: service_started
      fhir-pseudonymizer:
        condition: service_started

  wait-for-db:
    image: docker.io/library/postgres:18.1@sha256:3bb77a07b9ce8b8de0fe6d9b063adf20b9cca1068a1bcdc054cac71a69ce0ca6
    ipc: none
    security_opt:
      - "no-new-privileges:true"
    cap_drop:
      - ALL
    privileged: false
    restart: "no"
    environment:
      PGUSER: postgres
      PGHOST: fhir-gateway-db
      PGPORT: 5432
    entrypoint: ["/bin/sh", "-c"]
    command:
      - |
        until pg_isready; do
          echo "Waiting for DB $${PGUSER}@$${PGHOST}:$${PGPORT} to be up";
          sleep 5;
        done;
    depends_on:
      fhir-gateway-db:
        condition: service_started

  fhir-gateway-db:
    image: docker.io/library/postgres:18.1@sha256:3bb77a07b9ce8b8de0fe6d9b063adf20b9cca1068a1bcdc054cac71a69ce0ca6
    ipc: private
    security_opt:
      - "no-new-privileges:true"
    privileged: false
    environment:
      # kics-scan ignore-line
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: fhir

  loinc-converter:
    image: ghcr.io/miracum/loinc-conversion:v1.16.11@sha256:efcac05f0d04de566407b26cf58cc51e49ab410234e1d8e8220617df8cc16c0b
    ipc: none
    cap_drop:
      - ALL
    read_only: true
    privileged: false
    security_opt:
      - "no-new-privileges:true"
    environment:
      LOINC_VERSION: "2.77"

  fhir-pseudonymizer:
    image: ghcr.io/miracum/fhir-pseudonymizer:v2.23.0@sha256:d3476eb7e53ed0fbfc1d139ee172e2cd7cd84b96330512779b00d497ff7ce3fb
    ipc: none
    cap_drop:
      - ALL
    read_only: true
    privileged: false
    security_opt:
      - "no-new-privileges:true"
    environment:
      DOTNET_EnableDiagnostics: "0"
      UseSystemTextJsonFhirSerializer: "true"
      PseudonymizationService: "None"
      AnonymizationEngineConfigPath: "/opt/fhir-pseudonymizer/anonymization.yaml"
    volumes:
      - "./anonymization.yaml:/opt/fhir-pseudonymizer/anonymization.yaml:ro"
