services:
  fhir-gateway:
    image: ghcr.io/miracum/fhir-gateway:v4.0.3
    restart: on-failure
    cap_drop:
      - ALL
    ipc: none
    security_opt:
      - "no-new-privileges:true"
    read_only: true
    tmpfs:
      - /tmp
    privileged: false
    environment:
      SPRING_DATASOURCE_URL: ${SPRING_DATASOURCE_URL:-jdbc:postgresql://fhir-gateway-db:5432/fhir_gateway}
      SPRING_DATASOURCE_USERNAME: ${SPRING_DATASOURCE_USERNAME:-postgres}
      # kics-scan ignore-line
      SPRING_DATASOURCE_PASSWORD: ${SPRING_DATASOURCE_PASSWORD:-postgres}
      SERVICES_PSEUDONYMIZER_ENABLED: ${SERVICES_PSEUDONYMIZER_ENABLED:-true}
      SERVICES_PSEUDONYMIZER_URL: ${SERVICES_PSEUDONYMIZER_URL:-http://fhir-pseudonymizer:8080/fhir}
      SERVICES_LOINC_CONVERSIONS_URL: ${SERVICES_LOINC_CONVERSIONS_URL:-http://loinc-converter:8080/api/v1}
      SERVICES_LOINC_CONVERSIONS_ENABLED: ${SERVICES_LOINC_CONVERSIONS_ENABLED:-true}
      SERVICES_PSQL_ENABLED: ${SERVICES_PSQL_ENABLED:-true}
      SERVICES_KAFKA_ENABLED: ${SERVICES_KAFKA_ENABLED:-false}
    ports:
      - "127.0.0.1:8080:8080"
    depends_on:
      wait-for-db:
        condition: service_completed_successfully
      loinc-converter:
        condition: service_started
      fhir-pseudonymizer:
        condition: service_started

  wait-for-db:
    image: docker.io/bitnami/postgresql:17.6.0@sha256:926356130b77d5742d8ce605b258d35db9b62f2f8fd1601f9dbaef0c8a710a8d
    ipc: none
    security_opt:
      - "no-new-privileges:true"
    cap_drop:
      - ALL
    privileged: false
    restart: "no"
    environment:
      PGUSER: postgres
      PGHOST: fhir-gateway-db
      PGPORT: 5432
    entrypoint: ["/bin/sh", "-c"]
    command:
      - |
        until pg_isready; do
          echo "Waiting for DB $${PGUSER}@$${PGHOST}:$${PGPORT} to be up";
          sleep 5;
        done;
    depends_on:
      fhir-gateway-db:
        condition: service_started

  fhir-gateway-db:
    image: docker.io/bitnami/postgresql:17.6.0@sha256:926356130b77d5742d8ce605b258d35db9b62f2f8fd1601f9dbaef0c8a710a8d
    ipc: private
    security_opt:
      - "no-new-privileges:true"
    privileged: false
    environment:
      # kics-scan ignore-line
      POSTGRESQL_PASSWORD: postgres
      POSTGRESQL_DATABASE: fhir_gateway

  loinc-converter:
    image: ghcr.io/miracum/loinc-conversion:v1.16.5@sha256:b8bed1be40e195987ab9b22fdd404375429c59e56615c1fc5ac015253f397458
    ipc: none
    cap_drop:
      - ALL
    read_only: true
    privileged: false
    security_opt:
      - "no-new-privileges:true"
    environment:
      LOINC_VERSION: "2.77"

  fhir-pseudonymizer:
    image: ghcr.io/miracum/fhir-pseudonymizer:v2.22.10@sha256:88a8bf300a97acc7a493788add58c207d0ba0397431829c2377aab0eb39ae1d1
    ipc: none
    cap_drop:
      - ALL
    read_only: true
    privileged: false
    security_opt:
      - "no-new-privileges:true"
    environment:
      DOTNET_EnableDiagnostics: "0"
      UseSystemTextJsonFhirSerializer: "true"
      PseudonymizationService: "None"
      AnonymizationEngineConfigPath: "/opt/fhir-pseudonymizer/anonymization.yaml"
    volumes:
      - "./anonymization.yaml:/opt/fhir-pseudonymizer/anonymization.yaml:ro"
